meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Patronaje, trazo, corte y confección
meta(meta name="description" content="Comprender y describir los procesos de patronaje, corte y trazo, relacionar procesos de confección para determinar ruta operacional de las prendas en las diferentes líneas de productos. Interpretar terminología técnica de los procesos en patronaje, corte y confección. Descripción de aplicación de avance tecnológico en los procesos, comparación y relación de las tecnologías en los procesos. Interpretación señalización de patrones. Trazar patrones básicos. Ejemplificar procesos de ensamble de prendas en diferentes líneas de productos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")