h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 290601231-04. Analizar los patrones y el corte de las prendas durante el proceso de confección según especificaciones técnicas.
            li 
                span 290601231-05. Realizar operaciones de las diferentes líneas de producción en maquinaria de confección aplicando normas de seguridad industrial. 