.container
    .header-ecored
        h1 2. Procedimiento de trazo y corte
    .jumbotron.bg-white.shadow
        img.img-a(src="assets/images/pages/ilustraciones/img24.jpg", alt="").img-fluid
        .caja-azul
            p Actualmente la industria de la confección cuenta con importantes avances tecnológicos en los procesos de corte,  haciendo posible que se pase de procesos manuales a procesos totalmente computarizados y programables. La variedad de materiales utilizados en confección requiere de diferentes técnicas y tecnología para realizar los cortes de los patrones diseñados, sin embargo, esto no quiere decir que los procesos manuales estén en desuso. 
            p El espacio requerido para el área de trazo y corte está relacionado con el tamaño del área de ensamble, el cual puede llegar a ser igual que los talleres de una fábrica de confección. En las mesas en talleres de microempresas, se analiza el ancho de las telas a cortar, si se manejan telas de 1,5 metros de ancho se recomienda adquirir mesas con un ancho mínimo de 1,8 metros y 2 metros de largo. También se debe contar, con espacio para áreas de almacenamiento y recepción, fusionadora, mesas de corte, y si es necesario el espacio del equipo de cómputo.
            p Las longitudes de las mesas son variables, pueden ser constituidas por módulos de un (1) metro por ejemplo, y los anchos pueden variar dependiendo del ancho del material a trabajar aumentando 30 o 40 cm para su manejo, la altura recomendada para la mesa es de 80 o 90 cm.
        .sub-ecored#21.mt-5
            h2.h2-azul 2.1. Tipos de corte
        p.mt-5 El corte es el inicio del proceso de fabricación, y está condicionado a las especificaciones detalladas en la prenda a realizar. La clasificación del procedimiento está relacionada con el nivel tecnológico en la maquinaria y equipos que ejecutan las actividades de corte y los materiales a utilizar, estos pueden ser:
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                p #[strong Manual:] requiere en el corte la utilización de tijeras de aproximadamente 8 pulgadas, usadas solo para corte de tela, se colocan directamente los moldes y se procede a cortar.
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img25.jpg", alt="").img-fluid
        .row.justify-content-center.align-items-center.mt-3
            .col-6
                p #[strong Convencional:] utiliza maquinaria y equipos electromecánicos, y se realiza a mano por uno o varios operarios.
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img26.jpg", alt="").img-fluid
        .row.justify-content-center.align-items-center.mt-3
            .col-6
                p #[strong Automático:] comprende elementos como mesa, unidad de control, conformado por el ordenador con software especializado, cabezal de corte, carro extendedor automático. Este tipo de corte aumenta el rendimiento del espacio y los tiempos de corte.
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img27.jpg", alt="").img-fluid 
        .sub-ecored#22.mt-5
            h2.h2-azul 2.2. Operaciones principales de corte  
        p.mt-5 Son las directamente relacionadas con la actividad e interviene maquinaria y equipo en el desarrollo de sus actividades. Cada operación la componen varias actividades, las cuales se deben tener en cuenta para su correcto desempeño.
        h3.h2-azul.mt-5.ml-5 2.2.1. Trazo o marca.
        .row.justify-content-center.align-items-center.mt-3
            .col-4 
                img.img-a(src="assets/images/pages/ilustraciones/img28.jpg", alt="").img-fluid 
            .col-6 
                p Marcación manual o asistida por computador de las piezas que componen los patrones de la prenda. Se deben realizar los trazos por cada material en que se corta, es decir, trazos en telas, forro o entretelas teniendo en cuenta las cantidades y las tallas según la orden de corte.  
                p “La marcada es siempre un rectángulo de lado corto igual al ancho del tejido y lado largo el que corresponda una vez distribuidos los patrones encima de la tela” (Giraldo, 1990, pág.9)
        p.mt-5 En el caso del corte troquelado se realiza mediante el uso de plantillas colocadas a presión y se procede a cortar. Es muy importante tener en cuenta el aprovechamiento del espacio en la colocación de los patrones para mejorar el rendimiento de la tela.
        h3.h2-azul.mt-5.ml-5 2.2.2. Tendido.
        .row.justify-content-center.align-items-center.mt-3
            .col-6
                p Consiste en estirar las capas de tela de manera uniforme sobre la mesa de corte, cortándolas al largo que corresponde según el trazo o marca realizada previamente, se inicia por la capa base, que guía el margen para tender las demás capas.
                p El tendido puede ser manual o asistido por un carro extendedor mecánico o automático, los cuales permiten alinear correctamente el tejido sobre la mesa de corte. En la imagen se observa un carro extendedor mecánico. 
                p Las capas forman lo que se denomina colchón o bloque de tela, conforme el trazo y tipo de tendido. Antes de realizar el tendido se debe analizar el tiempo requerido de reposo de las telas para proceder a cortar. 
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img29.jpg", alt="").img-fluid
        p.mt-5 De acuerdo con Giraldo (1990, pág. 12) “los tendidos básicos son:         
        .row.justify-content-center.align-items-center.mt-3
            .col-2 
                img.img-a(src="assets/images/pages/ilustraciones/img30.svg", alt="").img-fluid 
            .col-8
                p #[strong Cara arriba (a una cara):] el tendido se realiza mediante un carro extendedor, el cual va dejando el tejido sobre la mesa hasta llegar al extremo final, donde se efectúa el corte al ancho del tejido. Efectuado este, la máquina extendedora retrocede hasta el principio, sin colocar tela sobre la mesa, hasta el principio de la marcada, donde inicia de nuevo el extendido de la siguiente capa. Este tipo de tendido es recomendado en entretelas, telas con estampados, líneas y cuadros.
                p #[strong Cara a cara (zigzag):] el comienzo puede iniciarse en cualquiera de los extremos de la marcada. Al igual que en el caso anterior el cabo de la tela se deposita en el extremo elegido y la maquinaria se desliza hacia el otro extremo, dejando el tejido al mismo tiempo. Al llegar al extremo opuesto, este es doblado y el carro retrocede extendiendo al mismo tiempo y así sucesivamente. Es el tendido más rápido y es típico de telas lisas y en denim.
                p #[strong Cara a cara girando:] se comienza igual que el tendido a una cara, en el extremo inicial de la marcada. El carro va extendiendo hasta el extremo opuesto donde es cortado el tejido, procediéndose a girar el rollo de tejido antes de volver al principio de la marcada, para empezar a extender la siguiente cara. Por lo tanto, el tejido en la segunda hoja irá cara abajo y en la misma dirección en del hilo que en la primera. Este tendido es el más lento y es recomendado en telas que tienen pelo en su textura tales como panas, gamuzas o terciopelos. 
                p #[strong Escalonado o escalón:] es una variante del tendido cara arriba,  donde si bien el ciclo de trabajo es idéntico, las longitudes de las capas son diferentes. Esto debido a que se intentó extender dentro de la misma marcada de varias tallas, con cantidades diferentes para cada una de ellas. Este tipo de tendido es empleado en procesos de confección con gran variedad de modelos y pocas cantidades por talla, de forma que se puede realizar en menor tiempo al realizar una sola marca, también se consigue mayor velocidad y rendimiento en el proceso de corte.
                p.mt-3 #[strong Tubular:] se diferencia de los tendidos cara arriba y zigzag en la forma de colocación del género y en los dispositivos especiales que llevan las máquinas extendedoras para alimentar y depositar las hojas dobles del tubular. Se utiliza con telas en tejido de punto.
                p.mt-3 #[strong Lomo:] el fin el tendido de tejido al lomo es la usada en el corte manual, es siempre cara arriba, o sus variantes en escalón al doblar la tela y trabajar a doblez de tela.
        p.mt-5 Los dos últimos tipos de tendido son variaciones de los anteriores, pero trabajando con el tejido presentado en distinta forma a la usual de rollo y abierto”.
        h3.h2-azul.mt-5.ml-5 2.2.3. Corte o destrozado.
        .row.justify-content-center.align-items-center.mt-3.ml-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img31.jpg", alt="").img-fluid
            .col-6 
                p Esta operación consiste en el corte o destroce del colchón de tela (creado en el tendido) por el orillo del trazo realizado para cada una de las piezas. El colchón de tela debe estar fijado ya sea por alfileres, pinzas, pesas o por el sistema de succión si la mesa lo tiene.
                p La actividad puede realizarse de manera manual con uso de cortadoras de disco o máquinas de cuchilla vertical, o de manera automatizada con máquinas de corte por control numérico o troqueladoras.
                p Esta operación genera altos riesgos laborales, es por ello por lo que se recurre a la automatización del proceso, logrando la disminución de riesgos laborales derivados de la actividad.
        h3.h2-azul.mt-5.ml-5 2.5.4.	Tiqueteado
        .row.justify-content-center.align-items-center.mt-3.ml-5
            .col-4
                img.img-a(src="assets/images/pages/ilustraciones/img32.jpg", alt="").img-fluid
            .col-6 
                p Consiste en rotular cada una de las piezas cortadas, identificando el lote, nombre de la pieza, talla y un consecutivo para contribuir en el orden del sistema. 
        .sub-ecored#23.mt-5
            h2.h2-azul 2.3.	Operaciones auxiliares de corte. 
        p.mt-5 Para completar el proceso de corte adecuadamente, se requiere de operaciones adicionales en las cuales interviene personal auxiliar, con el fin de apoyar el proceso. 
        h3.h2-azul.mt-5.ml-5 2.3.1. Fusionado 
        p.mt-5.ml-5 En el proceso de fabricación existen piezas del modelo que están previstas para entretelar, por ello una vez se corta la tela y la entretela se requiere utilizar la máquina fusionadora, un equipo por medio del cual a presión y calor se adhiere la entretela a la tela. En este proceso es importante el control de temperatura según el textil ya que puede generar encogimiento. 
        img.img-a(src="assets/images/pages/ilustraciones/img33.svg", alt="").img-fluid
        h3.h2-azul.mt-5.ml-5 2.3.2.	 Empaquetado.
        p.mt-5.ml-5 Consiste en separar por bloques las piezas cortadas empaquetando una cantidad definida de todas las piezas que conforman la prenda, se amarran y forman paquetes de 10 a 20 unidades, para así facilitar el control de producción y por ende, de calidad. 
        p.mt-5.ml-5 Una vez se empaquete es importante el almacenamiento utilizando técnica de Kanban, para entregar a ensamble.
        .sub-ecored#24.mt-5
            h2.h2-azul 2.4.	Tecnología en corte
        p.mt-5 El uso de tecnología en el área de corte se inicia en el proceso de trazo, el cual es asistido por computador con programas de software especializados, los cuales ahorran tiempo y espacio en la producción. Así mismo la tecnología utilizada para el corte, la cual requiere de programas integrados y compatibles, cuya función es comunicar al cabezal de corte las piezas a cortar, acelerando así los ciclos de trabajo y logrando mayor productividad. 
        h3.h2-azul.mt-5.ml-5 2.4.1.	 Maquinaria y equipos con tecnología en corte.
        p.mt-5.ml-5 Dentro de la maquinaria y equipo con tecnología en corte se encuentra la maquinaria de corte convencional, entre las más utilizadas se distinguen:       
        .row.justify-content-center.align-items-center.mt-5
            .col-9          
                .caja-borde
                    .row.justify-content-center.align-items-center.mt-3
                        .col-6
                            p #[strong Cortadoras verticales:] poseen cuchillas hasta con 9 pulgadas de longitud, en su movimiento vertical van cortando el bloque de tela, su capacidad de corte llega hasta las 40 capas de tela dependiendo de la densidad y composición del material.
                        .col-5
                            img.img-a(src="assets/images/pages/ilustraciones/img34.jpg", alt="").img-fluid  
                .caja-borde.mt-3                    
                    .row.justify-content-center.align-items-center.mt-3
                        .col-6
                            p #[strong Cortadoras circulares:] estas se caracterizan porque su cuchilla es en forma de disco, pueden ser de 2, 4 o 5 pulgadas, son muy utilizadas para cortar pocas capas de tela o prototipos de prendas y en piezas con formas curvas.
                        .col-5
                            img.img-a(src="assets/images/pages/ilustraciones/img35.jpg", alt="").img-fluid  
                .caja-borde.mt-3                     
                    .row.justify-content-center.align-items-center.mt-3
                        .col-6
                            p #[strong Cortadora sin fin:] es adaptada en el centro de una mesa especial con sistema de succión de material para fijar el bloque de telas y reducir los riesgos laborales. El corte se realiza al mover la pieza alrededor, se utiliza también en el afinado de piezas. 
                        .col-5
                            img.img-a(src="assets/images/pages/ilustraciones/img36.jpg", alt="").img-fluid  
                .caja-borde.mt-3                    
                    .row.justify-content-center.align-items-center.mt-3
                        .col-6
                            p #[strong Cortadora de extremos:] son cuchillas rectas acompañadas de una guía con las que se realiza el corte del extremo del tendido.
                        .col-5
                            img.img-a(src="assets/images/pages/ilustraciones/img37.jpg", alt="").img-fluid
                            p.mt-2 Fuente: (Durán Portillo, 2013)  
                .caja-borde.mt-3                    
                    .row.justify-content-center.align-items-center.mt-3
                        .col-6
                            p #[strong Troqueles:] son moldes con la forma de la pieza a cortar y son utilizados para grandes series de piezas, en las que la variación es mínima. 
                        .col-5
                            img.img-a(src="assets/images/pages/ilustraciones/img38.jpg", alt="").img-fluid
                            p.mt-2 Fuente: (Cabezalí Hernández, 2015)  
            .col-3
                img.img-a(src="assets/images/pages/ilustraciones/img39.svg", alt="").img-fluid  
        p.mt-5 Así mismo existe maquinaria y equipos con tecnología por control numérico, en el que se utilizan programas informáticos para realizar las diversas operaciones de corte, entre los más comunes se encuentran: 
        img.img-a(src="assets/images/pages/ilustraciones/img40.svg", alt="").img-fluid
        .row.justify-content-center.mt-3
            .col-3        
                p Ultrasonido: por medio del sonotrodo asegura que los bordes del corte no se desflequen ya que realiza un corte limpio, este corte se utiliza para procesos que desarrollan prendas con cero costuras.
            .col-3 
                p Cabezal automatizado: máquina provista de una cuchilla que gira a 360° para efectuar el corte de prendas, además puede rotular las piezas al tiquetearlas.
            .col-3 
                p Rayo láser: el elemento cortante es un haz de luz o rayo láser de alta densidad, el corte que genera es de gran precisión y mucho más rápido debido a al nivel automatizado del proceso.
        img.img-a(src="assets/images/pages/ilustraciones/img41.svg", alt="").img-fluid
        p.mt-5 Complementan los procesos de corte:
        .row.justify-content-center.mt-5.align-items-center
            .col-9         
                .caja-borde.mt-5
                    .row.justify-content-center.mt-3.align-items-center
                        .col-5 
                            img.img-a(src="assets/images/pages/ilustraciones/img42.jpg", alt="").img-fluid
                            p.mt-2.ml-5 Fuente: (Durán Portillo, 2013)
                        .col-6 
                            p Carro extendedor automatizado: posee un software que permite la programación de tendidos irregulares en medidas, cantidades, tallas y tejidos.            
                .caja-borde.mt-5
                    .row.justify-content-center.mt-3.align-items-center
                        .col-5 
                            img.img-a(src="assets/images/pages/ilustraciones/img43.jpg", alt="").img-fluid
                            p.mt-2.ml-5 Fuente: (Durán Portillo, 2013)
                        .col-6 
                            p Mesas neumáticas: cuentan con un sistema de succión para mejorar la calidad del corte evitando uso de alfileres, o con niveles que aumentan la capacidad de corte por el aprovechamiento del área de corte. Gracias a la aspiración fijan y aplanan las capas de tejido a cortar.
                .caja-borde.mt-5
                    .row.justify-content-center.mt-3.align-items-center
                        .col-5 
                            img.img-a(src="assets/images/pages/ilustraciones/img44.jpg", alt="").img-fluid
                            p.mt-2.ml-5 Fuente: (Durán Portillo, 2013)
                        .col-6 
                            p Mesas con agujas: se utilizan para tejidos que requieren alineación perfecta entre capas, como las telas de rayas,  estampados, cuadros, etc. Generan un corte fino y consumen el mínimo de tela. Las agujas tienen un largo de hasta 10 cm, con punta redonda para evitar el daño del tejido. 
                .caja-borde.mt-5
                    .row.justify-content-center.mt-3.align-items-center
                        .col-5 
                            img.img-a(src="assets/images/pages/ilustraciones/img45.jpg", alt="").img-fluid
                            p.mt-2.ml-5 Fuente: (Durán Portillo, 2013)
                        .col-6 
                            p Bandas transportadoras: se utilizan para el transporte de telas y paquetes cortados, también para entregar los paquetes debidamente empaquetados al área de ensamble. 
                .caja-borde.mt-5
                    .row.justify-content-center.mt-3.align-items-center
                        .col-5 
                            img.img-a(src="assets/images/pages/ilustraciones/img46.jpg", alt="").img-fluid
                            p.mt-2.ml-5 Fuente: (Durán Portillo, 2013)
                        .col-6 
                            p Software: los programas especializados de AUDACES, GERBER, OPTITEX O LECTRA, cuentan con módulos especializados en trazo para facilitar el corte de las prendas, los hace más precisos, disminuye desperdicios de materia prima y optimiza los tiempos de producción. 
                            p Se requiere además del computador y el programa, un plotter para poder imprimir los trazos. Pero en el caso que el corte sea automático, el cabezal va cortando sobre la tela directamente sin necesidad de impresión previa del trazo. 
                            p En la imagen se observa una marcada realizada con un software especializado. 
        img.img-a(src="assets/images/pages/ilustraciones/img47.svg", alt="").img-fluid                  
        section.mt-5 