.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                tr
                    td Academia confección ALAMODA, (2020). DIY Cómo hacer chaqueta jeans hombre confección.
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=EjQe0jdvenc&ab_channel=ACADEMIACONFECCIONALAMODA", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Academia confección ALAMODA. (2019), DIY Cómo hacer pantalón clásico de mujer confección. 
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=WNIzyeWTyEY&ab_channel=ACADEMIACONFECCIONALAMODA", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Andrade Máquinas (2014) Máquina de corte EVOPlus Macpi - IMA EVOplus. 
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=I4mzw17E2cA&ab_channel=AndradeM%C3%A1quinas", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver

                tr
                    td Cabezalí Hernández, M. (2015). Materiales, herramientas, máquinas y equipos de confección: arreglos y adaptaciones de prendas y artículos en textil y piel (MF1225_1). IC Editorial.
                    td Capítulo 4
                    td 
                        a(href="https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/43640?page=159", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td CIDEP. (2012) Manual de Corte y Confección.
                    td PDF
                    td 
                        a(href="media/documentos/Manual_corte_y_confeccion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                
                tr
                    td Gómez A, V (2019). Confección Jean.
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=4CEJcO_pnZs&ab_channel=ValentinaGomezArboleda", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Gutiérrez, S. (2020), Terminología Patronaje.
                    td PDF
                    td 
                        a(href="media/documentos/Terminologia_en_patronaje.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                
                tr
                    td Macpi Group, (2015). Macpi 340 Programmable Continuous Machine. 
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=WCc1vb_eKk0&ab_channel=MacpiGroup", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver             
                tr
                    td Páez, L. (2020) ¿Cuál es el Software de patronaje digital o sistemas de moldería para diseño de moda?
                    td Video YouTube
                    td 
                        a(href="https://www.youtube.com/watch?v=d2qV4sZ9l08&ab_channel=LauraP%C3%A1ez", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td SENA (2011) Manual de patronaje básico e interpretación de diseños. 
                    td PDF
                    td 
                        a(href="Manual_patronaje_basico_interpretacion_disenos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                
                tr
                    td Sena, (2020) Ficha técnica polo básica masculina. 
                    td Archivo Excel 
                    td 
                        a(href="media/documentos/Ficha_tecnica_polo_basica_masculina.xlsx", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Descargar
                tr
                    td Sena, (2020) Ficha técnica tapabocas.
                    td Archivo Excel 
                    td 
                        a(href="media/documentos/Ficha_tecnica_tapabocas.xlsx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                
                tr
                    td SENATI (s.f.) Diagrama de operaciones. 
                    td Video YouTube
                    td 
                        a(href="https://youtu.be/sTKdJgcAb3w", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver                             
                tr
                    td TPLUS SAS. (2015). Fusionado de entretelas.
                    td Video YouTube
                    td 
                        a(href="https://youtu.be/OTvIf26hrxk", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver   