include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("A5 Proyect Group (2020).  Máquinas de corte automático.", "http://www.grupoa5.com/productos/maquinas-de-corte/industria-textil-y-de-moda/")
        +referenciaItem("Amaden-Crawford, C. (2014). Confección de moda: técnicas básicas. Vol. 2. Editorial Gustavo Gili.", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=4421905.")
        +referenciaItem("AUDACES PATTERN. AUDACES. (2020).", "https://www.audaces.com/en/audaces-360/moldes/.")
        +referenciaItem("Carrera de Diseño y Gestión en Moda. (2015). Técnicas de patronaje. Tomo I: Mujer. Universidad Peruana de Ciencias Aplicadas (UPC).", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/41322?page=10")
        +referenciaItem("Duarte, N. (1983). Conocimientos básicos de corte. Unidad instruccional No. 3 SENA – Repositorio institucional.", "https://hdl.handle.net/11404/1432.")
        +referenciaItem("Duarte, N. E. (1984). Toma de medidas para falda. SENA - Repositorio institucional", "https://hdl.handle.net/11404/893")
        +referenciaItem("Durán Portillo, D. (2013). Preparación de máquinas de corte, ensamblado y acabado (UF1034). IC Editorial.", "https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/43646?page=2")
        +referenciaItem("Giraldo, M. (1990). Procesos básicos en la sala de corte. SENA", "https://hdl.handle.net/11404/4259.")
        +referenciaItem("Giraldo, M. (1990). Selección de las máquinas para sala de corte. SENA.", "https://hdl.handle.net/11404/4258.")
        +referenciaItem("OPTITEX, (2020).  PATTERN DESIGN SOFTWARE INTEGRADO EN 2D Y 3D.", "https://optitex.com/es/products/cutplan/.")
        +referenciaItem("OPTITEX. (2020). CUTPLAN", "https://optitex.com/es/products/cutplan/")
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            